body {
	font-family: 'Press Start 2P', serif;
	font-size: 36px;
	background-image: url('../public/images/pixel_background.png');
}

h1 {
	font-size: 36px;
	letter-spacing: 3px;
	text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.letter-buttons {
  width: 40%;
  margin: 12px auto;
  text-align: center;
  flex-wrap: wrap;
}

#win {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  color: rgb(112, 0, 160);
  cursor: pointer;
  margin: 0.67em 0;
}

#letter-box,
.letter-box {
  width: 1.5em;
  height: 2em;
  margin: 5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button.letter-button {
	width: 50px;
	height: 50px;
	font-size: 24px;
	font-family: 'Press Start 2P';
	background: white;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 10px;
}

.reset-button {
  font-size: 14px;
  font-family: 'Press Start 2P';
  background: white;
  margin: 20px auto 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  line-height: 1.6;
}

button[disabled='true'] {
  cursor: default;
}

.shark-images {
  display: flex;
  justify-content: center;
}

.container {
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}